## [ Ítens de Build e Binários ]
[Bb]in/
[Ob]j/
out/

## [ Visual Studio ]
.vs/
*.user
*.userosscache
*.sln.docstates
.DS_Store

## [ .NET MAUI / Xamarin ]
# Arquivos gerados durante o build do Android
*.apk
*.aab
*.dex
*.bundle

# Cache de ferramentas
.tools/
.ncrunch/
.pye/

## [ Publicação e Segredos ]
# Nunca suba chaves de assinatura (keystores) ou segredos
*.keystore
*.jks
appsettings.json
appsettings.Development.json

## [ Rider / JetBrains ]
.idea/
*.sln.iml

## [ VS Code ]
.vscode/
